 .modal-body{
      background:#006666;
        padding:10px; 
         color: white;
    }
  .valid{
        border: solid green;
      }
      .error{
      	
        color:#4d0026;
      }
      

  .alert{
  display: none;
}
.blink{
    font-size: 40px;
    color: rgb (0, 137, 226);
    
    animation: blink 2s infinite;
   }
   
   @keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
   }