body{background-color:lightgray;}
 .navbar {
      margin-bottom: 0;
      border-radius: 0;

    }
    .navbar-custom{
      color:#1B7C7E;
      background:#1B7C7E;
    }
    .nav.navbar-nav.navbar-right li a {
    color: white;
}

    /* Add a gray background color and some padding to the footer */
  footer {
      background-color: #1B7C7E;
      padding: 25px;
    }
   
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin:auto;
    min-height:200px;
  }
    


  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 500px) {
    .carousel-caption {
      display: none; 
    }
  }

.iconHeading{
  text-align: center;
}

.iconHeading span{
  font-size: 55px;
}

.head4 {
  background-color: pink;

}
/*.blink{
    font-size: 40px;
    color: rgb(0, 137, 226);
    
    animation: blink 2s infinite;
   }
   
  @keyframes .blink {
    from {
        color:green;
    }
    to {
        color:white;
    }
}
   
   @keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
   }